<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirige les requêtes vers l'index si le fichier ou le dossier n'existe pas
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>

<IfModule !mod_rewrite.c>
    # Si mod_rewrite n'est pas disponible, affiche un message d'erreur
    <IfModule mod_alias.c>
        Redirect 404 /
    </IfModule>
</IfModule>
