.button-container {
    display: inline-block;
    margin: 16px;
}

.button{
    background-color: white;
    stroke: black;
    box-shadow: black, 25%;
}

.button-ajout {
    background-color: white;
}

body {
    font-family: 'Jersey 10', sans-serif;
}
@media (max-width: 768px) {
    .consultation-header, .consultation-item {
        font-size: 14px;
        padding: 10px;
    }
}