@font-face {
    font-family: 'Jersey 10';
    src: url('/path-to-font/jersey-10.woff2') format('woff2'),
         url('/path-to-font/jersey-10.woff') format('woff');
  }

.AnimalCard{
border-radius: 50px;
margin: 0 auto;
}

.AccordionAnimalBody{
font-family: 'Jersey 10', sans-serif;
font-size: 16px;
color: #333;
}

.AccordionHeader{
  text-align: start;
}

.AccordionAnimalBody{
  text-align: center;
  align-content: end;
}

.animal-card-typography {
  font-size: 1rem;
  color: #333;
}

.animal-card-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

/* Style du conteneur contenant l'icône */
.ph.ph-plus-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px; /* Taille du bouton (largeur) */
  height: 50px; /* Taille du bouton (hauteur) */
  background-color: #ffffff; /* Fond blanc pour le cercle */
  border: 2px solid #008000; /* Bordure verte */
  border-radius: 50%; /* Cercle parfait */
  text-decoration: none; /* Supprime la décoration (pour un lien) */
  transition: all 0.3s ease; /* Animation douce au survol */
  color: #008000; /* Couleur de l'icône */
  font-size: 24px; /* Taille de l'icône */
}

/* Effet au survol */
.ph.ph-plus-circle:hover {
  background-color: #008000; /* Fond vert */
  color: #ffffff; /* Icône blanche */
}

@media (max-width: 768px) {
  .consultation-header, .consultation-item {
      font-size: 14px;
      padding: 10px;
  }
}